RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Cho phép truy cập tất cả
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>

<IfModule mod_access_compat.c>
    Allow from all
</IfModule>

<IfModule mod_dir.c>
    DirectoryIndex index.php
</IfModule>